<div id="edit-profile" v-cloak>
  <div class="container">

<form action="#" method="POST">
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" name="title" value="<%= task.title %>">
        <br>
    </div>
    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" name="description" rows="3"><%= task.description %></textarea>
    </div>
    <div class="form-group">
        <label>Executor:</label>
        <input type="text" class="form-control" name="executorName" value="<%= task.performer.executorName %>">
        <br>
    </div>
    <div class="form-group">
        <label>Date:</label>
        <input type="text" class="form-control" name="endDate" value="<%= task.endDate %>">
        <br>
    </div>
    <div class="form-group">
        <label>Task status:</label>
        <input type="text" class="form-control" name="status" value="<%= task.status.title %>">
        <br>
    </div>

  <!--  <button type="submit" class="btn btn-success">Сохранить</button> -->
     <a href="/task" class="btn btn-dark float-right">Get Back</a>


</form>

</div>
</div>
